%p#notice= notice
%b
  = @product_type.name
#link_to_order_menu
  Заказать
#order_menu
  %hr{color: "green"}
  #link_out_order_menu
    Закрыть
  - @product_colors.each do |product_color|
    #link_to_order_menu_color
      = product_color.name
  .clear
  #list_to_cart