%h1 Редактирование профиля

= render 'form'
%hr{color: "green"}
%div#com_info
  %button Добавить организацию
%div#com_crete.hide
  %button Отмена
  = render '/organizations/createform'

= link_to 'Назад', @current_user
