// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide {
  display: none;
}

table {
  border: 1px solid green;
}

.product_colors_table {
  border: 1px solid red;
}

.product_sizes_table {
  border: 1px solid blue;
}