// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide {
  display: none;
}

.table_product {
  border: 3px solid grey;
}

.table_product_type {
  border: 1px dotted grey;
}

.table_product_size {
  border: 1px solid grey;
}

.td_product_price {
  border: 2px solid royalblue;
  width: 50px;
}

.td_product_count {
  border: 2px solid darkcyan;
  width: 50px;
}

.td_product_reserv {
  border: 1px dotted red;
  padding: 1px;
  width: 50px;
}

.td_product_price_color {
  margin-top: 15px;
  border: 2px solid yellow;
  width: 50px;
}